:root {
  --color0: #dfe6ef;
  --color1: rgb(96, 88, 86);
  --color2: rgb(39, 65, 86);
  --color3: rgb(28, 110, 140);
  --color4: rgb(251, 252, 255);
}

.myButton {
  max-width: none !important;
  background-color: var(--color2);
  margin: .8%;
  float: left;
  border-radius: 8%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
.myButton:hover {
}

.noBackgroundImg{
  background-image: none !important;
}

#textBox{
  border: none;
  height: 20px;
  width: 110px;
  margin: 5px;
}

.textBackground{
  background:rgba(1,1,1,0.5);
}

input[type="range"] {
  -webkit-appearance: none;
}
 
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color2);
  height: 5px;
}
 
input[type="range"]::-moz-range-track {
  background: var(--color2);
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--color3);
  margin-top: -5px;
  border-radius: 50%;
 }
 
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: var(--color3);
  margin-top: -5px;
  border-radius: 50%;
}

.secondaryButton{
  height: 30px;
  width: 110px;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  background-color: var(--color2);
  color: var(--color4);
}

h5{
  margin-top: -5px;
  margin-bottom: 2px;
  margin-left: 2px;
  color: var(--color2);
}

h2{
  color: var(--color2);
}

.lightUp{
  filter:brightness(120%);
}

.primaryButton{
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: none;
  line-height: 1;
  border-radius: 2px;
}
.primaryButton:hover {
  filter:brightness(110%);
}

#delBtn{
  background-color: var(--color3);
  color: var(--color4);
}

.editBtnOff {
  background-color: var(--color4);
  color: var(--color2);
}

.editBtnOn {
  color: var(--color4);
  background-color: var(--color2);
  border-radius: 7px;
}

.addButtonWrapper {
  height: 150px;
  width: 150px;
  background-color: transparent;
  margin: .8%;
  float: left;
  border-radius: 8%
}
.addButton {
  text-align: center;
  margin-top: 50px;
  max-width: 100px;
  max-height: 100px;
  background-image: url("plus.png");
}
.addButton:hover {
  filter:brightness(110%);
}

#settings {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--color0);
}

.bigSettingWrapper {
  height: 120px;
  float:left;
  background-color: var(--color0);
}
.bigSettingWrapper:hover {
  filter: brightness(110%);
}

.smallSettingWrapper {
  height: 80px;
  display: flex;
  margin: 5px;
}

.deleteWrap{

}
.textWrap{

}
.backgroundWrap{

}
